/Build/
/bin/
/obj/
/x64/
/MainApp/obj/
/GpuModule/bin/Debug/net10.0-windows/GpuModule.deps.json
/Modules/BiosModule/bin/
/Modules/BiosModule/obj/
/Modules/CpuModule/bin/
/Modules/CpuModule/obj/
/Modules/HomeModule/bin/
/Modules/HomeModule/obj/
/Modules/MemoryModule/obj/
/Modules/MemoryModule/bin/
/Modules/ResourceModule/bin/
/Modules/ResourceModule/obj/
/Modules/OsModule/bin/Debug/net10.0-windows/OsModule.deps.json
/Providers/ConsoleApp1/bin
/Providers/ConsoleApp1/obj
/Providers/HardwareInfoProvider/x64/
/Providers/SystemManagementProvider/bin/
/Providers/SystemManagementProvider/obj/
/Unit Tests/SystemManagementProviderTests/obj/
/Unit Tests/SystemManagementProviderTests/bin/
/Providers/SystemEnvironmentProvider/bin/
/Providers/SystemEnvironmentProvider/obj/
/Shared/Converters/bin/Debug/net10.0/Converters.deps.json
/Unit Tests/ConverterTests/obj/
/Unit Tests/ConverterTests/bin/
/Shared/Converters/obj/
/Shared/SharedDefinitions/bin/
/Shared/SharedDefinitions/obj/
/StorageModule/obj/
/StorageModule/bin/
/.vs/
/GpuModule/obj/
/Modules/OsModule/obj/
/Modules/OsModule/obj/
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.AssemblyInfo.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GlobalUsings.g.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.deps.json
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.runtimeconfig.json
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.AssemblyInfo.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GlobalUsings.g.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.deps.json
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.runtimeconfig.json
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.AssemblyInfo.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/GpuModule/obj/Debug/net10.0-windows/GpuModule_jlykcvfy_wpftmp.GlobalUsings.g.cs
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.deps.json
/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.runtimeconfig.json
/Modules/GpuModule/obj/Debug/net10.0-windows/Views/GpuSummaryView.baml
/Modules/GpuModule/obj/Debug/net10.0-windows/Views/GpuSummaryView.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/Views/GpuSummaryView.g.i.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_14fmbqej_wpftmp.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_14fmbqej_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_14fmbqej_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_51bds2dm_wpftmp.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_51bds2dm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_51bds2dm_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_hsiuv2nu_wpftmp.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_hsiuv2nu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_hsiuv2nu_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_MarkupCompile.lref
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_tjglqnyd_wpftmp.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_tjglqnyd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_tjglqnyd_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.csproj.FileListAbsolute.txt
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.csproj.Up2Date
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.deps.json
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.designer.runtimeconfig.json
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.g.resources
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.GlobalUsings.g.cs
/Modules/GpuModule/obj/GpuModule.csproj.nuget.dgspec.json
/Modules/GpuModule/obj/GpuModule.csproj.nuget.g.props
/Modules/GpuModule/obj/GpuModule.csproj.nuget.g.targets
/Modules/GpuModule/obj/project.assets.json
/Modules/GpuModule/bin/Debug/net10.0-windows/GpuModule.deps.json
/Modules/OsModule/obj/Debug/net10.0-windows/OsModule_lpztyzje_wpftmp.AssemblyInfo.cs
/Modules/OsModule/obj/Debug/net10.0-windows/OsModule_lpztyzje_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/OsModule/obj/Debug/net10.0-windows/OsModule_lpztyzje_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_zpkwc0th_wpftmp.AssemblyInfo.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_zpkwc0th_wpftmp.csproj.BuildWithSkipAnalyzers
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_zpkwc0th_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule_zpkwc0th_wpftmp.GlobalUsings.g.cs
/Modules/GpuModule/obj/Debug/net10.0-windows/GpuModule.csproj.BuildWithSkipAnalyzers
/Modules/OsModule/obj/Debug/net10.0-windows/OsModule.designer.deps.json
/Modules/OsModule/obj/Debug/net10.0-windows/OsModule.designer.runtimeconfig.json
/Modules/GpuModule/obj/Debug/net10.0-windows
/Modules/GpuModule/obj
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_m40h535k_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_m40h535k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_m40h535k_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule.AssemblyInfo.cs
/Modules/LogModule/bin/Debug/net10.0
/Modules/LogModule/obj
/Modules/StorageModule/bin/Debug/net10.0-windows/StorageModule.deps.json
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule.csproj.BuildWithSkipAnalyzers
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule.csproj.FileListAbsolute.txt
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_4jtygbsc_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_4jtygbsc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_4jtygbsc_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_drsa3tfb_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_drsa3tfb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_drsa3tfb_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_jugc4mt3_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_jugc4mt3_wpftmp.csproj.BuildWithSkipAnalyzers
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_jugc4mt3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_jugc4mt3_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_mszyxj0h_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_mszyxj0h_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_mszyxj0h_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_n4pcydhc_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_n4pcydhc_wpftmp.csproj.BuildWithSkipAnalyzers
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_n4pcydhc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_n4pcydhc_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_pj0ndkb2_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_pj0ndkb2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_pj0ndkb2_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_sinznqoe_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_sinznqoe_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_sinznqoe_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_w3oephdz_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_w3oephdz_wpftmp.csproj.BuildWithSkipAnalyzers
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_w3oephdz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_w3oephdz_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_zisfqjm0_wpftmp.AssemblyInfo.cs
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_zisfqjm0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Modules/StorageModule/obj/Debug/net10.0-windows/StorageModule_zisfqjm0_wpftmp.GlobalUsings.g.cs
/Modules/StorageModule/obj/project.assets.json
/Modules/StorageModule/obj/StorageModule.csproj.nuget.dgspec.json
/Modules/StorageModule/obj/StorageModule.csproj.nuget.g.targets
