[*.cs]

# CS8620: Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none
