.vs
[B|b]in
obj
packages
unittestdlls
[R|r]elease
[D|d]ebug
/SmartAblationSystem/FileStore
/SmartAblationSystem/PDFFiles
/SmartAblationSystem/ZipFile
/SmartAblationSystem/Files
/SmartAblationSystem/AblationData/AblationDetails.csv
/SmartAblationSystem/AblationDataAblationDetails.csv