<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DataAccessContainer" connectionString="metadata=res://*/DataAccess.csdl|res://*/DataAccess.ssdl|res://*/DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ConsoleDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataAccess" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ConsoleDatabase;Data Source=.\SQLEXPRESS;"/>
  </connectionStrings>
  <appSettings>
    <add key="SBCPMCUCMCU" value="can1"/>
    <add key="SBCCONNECTIONBOX" value="can2"/>
    <add key="CMTD" value="250"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PDFImagePath" value="PDFFiles/PDFImages/"/>
    <add key="AppDefaultFilePath" value="AppDefaultFile/"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
</configuration>
