<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartAblationSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartAblationSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DataAccessContainer" connectionString="metadata=res://*/DataAccess.csdl|res://*/DataAccess.ssdl|res://*/DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ConsoleDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="DataAccess" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ConsoleDatabase;Data Source=.\SQLEXPRESS;" />
  </connectionStrings>
  <appSettings>
    <add key="SBCPMCUCMCU" value="can1" />
    <add key="SBCCONNECTIONBOX" value="can2" />
    <add key="CMTD" value="250" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PDFImagePath" value="PDFFiles/PDFImages/" />
    <add key="AppDefaultFilePath" value="AppDefaultFile/" />
    <add key="ServiceToolPath" value="C:\Program Files\BSC\Smart Ablation System\ServiceTool" />
    <add key="ServiceToolFileName" value="ServiceToolApp.exe" />
    <add key="CatheterToolPath" value="C:\Program Files\BSC\Smart Ablation System\CatheterTool" />
	  <add key="CatheterToolFileName" value="CatheterTestApp.exe" />
    <add key="SystemUpdaterPath" value="C:\UpdateFiles" />

  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SmartAblationSystem.Properties.Settings>
      <setting name="UseReelTimeInflation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ICBTimeOutAtInitialization" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="canTwoMaximumTimeOutReference" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ICBTimeOut" serializeAs="String">
        <value>3000</value>
      </setting>
    </SmartAblationSystem.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SmartAblationSystem.Properties.Settings>
      <setting name="SkinToSkinTemperature" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="SkinToSkinLowTemperature" serializeAs="String">
        <value>20</value>
      </setting>
    </SmartAblationSystem.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
